
body{
    font-family: 'Montserrat', monospace;
    background-color: #1B1B32;
    /* background-color:white; */
    color: white;
    /* color: black; */
}
.logo-svg svg{
    height: 100px;
    float: left;
    position: relative;
    top: 20px;
    border-radius: 20px;
    left: 20px;
    transform: translate(-20%, -5%);
}


.container-main{
    height: 500px;
    width: 900px;
    background-color: #2A2A40;
    /* background-color: #FFFAEC; */
    margin: auto;
    box-shadow: 5px 5px 5px 5px black ;
   display: flex;
   flex-direction: column;
}
.nav-container{
    display: flex;
    flex-direction: row;
 justify-content: space-between;
}
.nav-bar li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    
}
.nav-bar li a{
   text-decoration: none;
   color: white;
   /* color: black; */
}
.nav-bar li a:hover{
    background-color: #0A0A23;
    transition: background .8s;
    border-radius: 5px;
    height:20px;
 }
.name-container{
    margin-left: 20px;
}
.img-container img{
    max-height: 300px;
    margin-right: 50px;
    float: right;
    position: relative;
    top: 50px;
    border-radius: 5px;  
}

.img-container {
   border: 3px solid black;  
}
.section{
    float: left;
    height: 320px;
    width: 500px;
    
    margin-left: 50px;
    position: relative;
    top: 20px;
}

.hr{
    width: 35px; 
    background-color: green;
    height: 3px;
    position: absolute;
    left: 0px;
    top: 10px;
}
/* .nothing{
    height: 80px;
    position: relative;
    left: 0px;
} */
.name{
    font-size: 30px; 
    line-height: -5px;
    font-weight: bolder;
    letter-spacing: -3px;
}
.skills{
    display: flex;
    flex-direction: row;
    top: 10px;
}
.vertical-line{
    height:50px;
    width: 2px;
    background-color: green;
    justify-content: space-between;
display: flex;
flex-direction: row;
}
.btn input{
    background-color: orange;
    height:30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}
.btn input:hover{
    color: white;
    box-shadow: 2px 2px 2px 2px black;
    transition: background .8s;
}
.social-media-logos{
    display: flex;
    flex-direction:row;
}
.social-media-logos img{
    height: 30px;
    justify-content: space-between;
    margin-right: 20px;
    position: relative;
    top: 20px;
}
.social-media-logos img:hover{
    height: 50px;
    transition: background 10s;
}